#top-header{
    display: flex;
    gap: 50px;
    padding: 0px 70px;
}
#top-nav a{
    color: black;
    padding: 12px 20px;
    border-right: 2px solid black;
    text-decoration: none;
}
#top-nav a:hover{
    text-decoration: underline;
}

#top-nav a:nth-child(5){
    border-right: none;
}
#top-nav button{
    background-color: #074880;
    border-radius: 0px;
    border: none;
    padding: 10px 17px;
}
#top-nav button img{
    height: 24px;
}
#bottom-nav{
    padding: 0px 70px;
    background-color: #074880;
}
#buttom-nav a{
    text-decoration: none;
    padding: 12px 18px;
    color: #c4d82e;
    text-transform: uppercase;
    display: inline-block;
}
#buttom-nav a:hover{
    background-color: #c4d82e;
    color: #074880;
}
/*main*/

/*footer*/

footer{
    background-color: #074880;
    color: white;
    padding: 6px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#social-links img{
    height: 34px;
}